body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("./ART/Background/mosaico.jpg");
  }
  
  
  #canvasSection{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1.5%;
  }
  
  canvas {  
    border: purple 9px solid;
    }
  
   #copy{
     background-color: black;
     text-align: center;
   }
  
   .box{
     padding-right: 4%
   }
  
  