body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("./Art/Background/mosaico.png");
  }
  
  #diurex1{
    position: absolute;
    top: 3%;
    left: 12%;
  }

  #diurex2{
    position: absolute;
    top: 3%;
    right: 11%;
  }

  #canvasSection{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
  }
  
  canvas {  
    border: purple 9px solid;
    padding: 1% 1% 1% 1%;
    }